@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000 black
#222222 black greyish
#333333 black greyish
#D4D4D4 light grey
#CC3300 red
#BADA55 green
#FFFFFF white
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
}
h1, h2, h3, h4{
	font-family: "Droid Serif",serif;  /* you need a font stack here */
    text-shadow: 10px;
    
    
}
h1{
    font-size: 6.854rem;
    color: #FFFFFF;
    padding: 10px 500px 60px 50px;
	
}
h2{
    font-size: 4.236rem;
    color: #CC3300;
    padding-right: 100px;
	
}
h3{
	font-size: 2.618rem;
    color: #CC3300;
}
h4{
	
}
p, li, a{
	font-family: "Droid Sans", sans-serif; /* you need a font stack here */
}
img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
    
    
}


a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
     
}
.header{
    background-image: url(../img/moon-header.jpg);
    background-position: right,center;
    background-repeat: no-repeat;
	background-color: #000;
    min-height: 400px;
}
.main{
    padding: 1rem 3rem 0rem 3rem;
	
}
.footer{
    background-color:#333333; 
    height: 200px;
	
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
    
	
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	
}


/***********************************
		CONTENT
***********************************/
.header h1{

}
.main h2{
	
}
.main h3{
	
}
.main p{
    line-height: 1.5rem;
    margin-bottom: 2rem;
	
}
.main img{
    border-radius: 10px;
    width: 27%;
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    padding: 30px 40px 20px 40px;
    
}
.footer li{
    width: 50%;
    
    /* make these 50% the width of the footer */
}

